





# Backups
# Documentation temp files
# Eclipse project files
# Executables
# Libraries
# Object files
# Shared objects (inc. Windows DLLs)
*.a
*.app
*.aux
*.dll
*.dylib
*.exe
*.gz
*.lib
*.log
*.o
*.out
*.pdf
*.so
*.so.*
*~
.cproject
.project
